################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/BioradMedisys/.vs/BioradMedisys
/BioradMedisys/bin
/BioradMedisys/obj
/BioradMedisys.BusinessLogicLayer/bin
/BioradMedisys.BusinessLogicLayer/obj
/BioradMedisys.DataAccessLayer/bin
/BioradMedisys.DataAccessLayer/obj
/BioradMedisys.Model/bin
/BioradMedisys.Model/obj
/BioradMedisys.Utilities/bin
/BioradMedisys.Utilities/obj
/BioradMedisys.ExceptionManager/bin
/BioradMedisys.ExceptionManager/obj
/BioradMedisys.ViewModel/bin
/BioradMedisys.ViewModel/obj
/BioradMedisys.Utilities/BioradMedisys.Utilities.csproj.user
/BioradMedisys/data/logs
/BioradMedisys.Resources/bin
/BioradMedisys.Resources/obj
/BioradMedisys.ViewModel/BioradMedisys.ViewModel.csproj.user
/BioradMedisys.BusinessLogicLayer/BioradMedisys.BusinessLogicLayer.csproj.user
/BioradMedisys/.vs
/BioradMedisys.Resources/bin
/BioradMedisys.Resources/obj
/BioradMedisys/Uploads
/BioradMedisys.BusinessLogicLayer/.vs
/BioradMedisys.DataAccessLayer/.vs
/BioradMedisys.Utilities/.vs
/BioradMedisys.ViewModel/.vs
/Coditech.Resources/obj
/CoditechBaseFramework/obj
/CoditechBaseFramework.BusinessLogicLayer/obj
/CoditechBaseFramework.DataAccessLayer/obj
/CoditechBaseFramework.ExceptionManager/obj
/CoditechBaseFramework.Model/obj
/CoditechBaseFramework.Utilities/obj
/CoditechBaseFramework.ViewModel/obj
