################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/CoditechBaseFramework/.vs/CoditechBaseFramework
/CoditechBaseFramework/bin
/CoditechBaseFramework/obj
/CoditechBaseFramework.BusinessLogicLayer/bin
/CoditechBaseFramework.BusinessLogicLayer/obj
/CoditechBaseFramework.DataAccessLayer/bin
/CoditechBaseFramework.DataAccessLayer/obj
/CoditechBaseFramework.Model/bin
/CoditechBaseFramework.Model/obj
/CoditechBaseFramework.Utilities/bin
/CoditechBaseFramework.Utilities/obj
/CoditechBaseFramework.ExceptionManager/bin
/CoditechBaseFramework.ExceptionManager/obj
/CoditechBaseFramework.ViewModel/bin
/CoditechBaseFramework.ViewModel/obj
/CoditechBaseFramework.Utilities/CoditechBaseFramework.Utilities.csproj.user
/CoditechBaseFramework/data/logs
/CoditechBaseFramework.Resources/bin
/CoditechBaseFramework.Resources/obj
/CoditechBaseFramework.ViewModel/CoditechBaseFramework.ViewModel.csproj.user
/CoditechBaseFramework.BusinessLogicLayer/CoditechBaseFramework.BusinessLogicLayer.csproj.user
/CoditechBaseFramework/.vs
/Coditech.Resources/bin/Debug
/Coditech.Resources/obj
/CoditechBaseFramework/Uploads
